
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #282c34;
  color: #FFBF00;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameTitle {
  color: #ff00ff;
}

#gameRating {
  color: #e5e4e2;
}

#gameDescription {
  color: #00ffff;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#gameCards {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 #0180e2;
  margin: 2rem;
  max-width: 460px;
}

.bb_ul {
  display: block;
}


/* @media screen and (max-width: 768px) {
  body {
    display: grid;
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
